
<div class="media-grid">
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="#sql" target="_blank"><span class="ms-Image"><img src="~/images/community/cosmos-db-logo-65px.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading h3"><a href="#sql" target="_blank">NoSQL</a></h2>
                    <p>Azure Cosmos DB for NoSQL provides cloud-native applications with high availability and low latency using Microsoft Azure's native distributed NoSQL database.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="https://learn.microsoft.com/azure/cosmos-db/postgresql"><span class="ms-Image"><img src="~/images/learn/postgresql.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading h3"><a href="https://learn.microsoft.com/azure/cosmos-db/postgresql" target="_blank">PostgreSQL</a></h2>
                    <p>Azure Cosmos DB for PostgreSQL is a managed service for PostgreSQL extended with the Citus open source superpower of <i>distributed tables</i>.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="https://learn.microsoft.com/azure/cosmos-db/mongodb-introduction" target="_blank"><span class="ms-Image"><img src="~/images/learn/mongodb.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading h3"><a href="https://learn.microsoft.com/azure/cosmos-db/mongodb-introduction" target="_blank">MongoDB</a></h2>
                    <p>Fully managed database service for apps written for MongoDB. Recommended if you have existing MongoDB workloads that you plan to migrate to Azure Cosmos DB.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="https://learn.microsoft.com/azure/cosmos-db/cassandra-introduction" target="_blank"><span class="ms-Image"><img src="~/images/learn/cassandra.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading h3"><a href="https://learn.microsoft.com/azure/cosmos-db/cassandra-introduction" target="_blank">Apache Cassandra</a></h2>
                    <p>Fully managed Cassandra database service for apps written for Apache Cassandra. 
                        Recommended if you have existing Cassandra workloads that you plan to migrate to Azure Cosmos DB.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="https://learn.microsoft.com/en-us/azure/cosmos-db/graph-introduction" target="_blank"><span class="ms-Image"><img src="~/images/learn/gremlin.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading h3"><a href="https://learn.microsoft.com/en-us/azure/cosmos-db/graph-introduction" target="_blank">Apache Gremlin</a></h2>
                    <p>Fully managed graph database service using the Gremlin query language, based on Apache TinkerPop project. 
                        Recommended for new workloads that need to store relationships between data.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="https://learn.microsoft.com/azure/cosmos-db/table-introduction" target="_blank"><span class="ms-Image"><img src="~/images/learn/azure-table.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading h3"><a href="https://learn.microsoft.com/azure/cosmos-db/table-introduction" target="_blank">Table Storage</a></h2>
                    <p>Fully managed database service for apps written for Azure Table storage. 
                        Recommended if you have existing Azure Table storage workloads that you plan to migrate to Azure Cosmos DB, 
                        but do not want to re-write your application to use the NoSQL API.</p>
                </div>
            </div>
        </div>
    </div>
</div>