<div class="row row-flex text-center">
    <div class="col-md-2">
        <a href="#sql" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/sql.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Azure Cosmos DB for NoSQL</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://learn.microsoft.com/azure/cosmos-db/postgresql" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/postgresql.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" />
                Azure Cosmos DB for PostgreSQL
            </span>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://learn.microsoft.com/azure/cosmos-db/mongodb-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/mongodb.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Azure Cosmos DB for MongoDB</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://learn.microsoft.com/en-us/azure/cosmos-db/graph-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/gremlin.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Azure Cosmos DB for Apache Gremlin</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://learn.microsoft.com/azure/cosmos-db/cassandra-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/cassandra.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Azure Cosmos DB for Apache Cassandra</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://learn.microsoft.com/azure/cosmos-db/table-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/table.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Azure Cosmos DB for Table</div>
        </a>
    </div>
</div>