@{
    ViewData["Title"] = "Azure Cosmos DB | Oops!";
    var statusCode = Context.Response.StatusCode;
}

@section meta {
        <meta name="robots" content="noindex" />
}

@section header {
    <h1>Oops!</h1>
}

<div class="swim pt-60 pb-60">
    <div class="container">
       
                @if (statusCode == 404)
                {
                    <img src="~/images/error/error-404.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                    <h1 class="h3 text-center">Yikes! We couldn't find the page you were looking for.</h1>
                    <p class="mt-20 text-center"><a href="~/" class="btn btn-primary">Go to homepage</a></p>
                }
                else
                {
                    <img src="~/images/error/error-generic.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                    <h1 class="h3 text-center">Yikes! Something went wrong.</h1>
                    <p class="text-center text-muted">Error code: @statusCode @((System.Net.HttpStatusCode)statusCode)</p>
                    <p class="text-center"><a href="~/" class="btn btn-primary">Go to homepage</a></p>
                }
    </div>
</div>
