@model IEnumerable<cosmosweb.Models.PartnerTechSession>
@{ ViewData["Title"] = "Partner Tech Connect";
    ViewData["Description"] = "Series of partner sessions on Cosmos DB";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Partner Tech Connect</h1>
}
<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-08">
                <span>
                    <a href="~/partners/sessions" target="_self" class="btn btn-default">Session Topics Schedule</a>
                    <a href="~/partners/qna" target="_self" class="btn btn-default">QnA Schedule</a>
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2>Partner Tech Connect</h2>
                <h3>November 02, 2021 - April 05, 2022</h3>
                 <p>Azure Cosmos DB engineering team is excited to invite ISVs & SIs to our upcoming ‘Special topic sessions’ and ‘Q&A’ series as a part of our Partner Tech Connect program.
                    Help your technical team take on the biggest opportunities in the modern app and managed databases market by building expertise on Microsoft's cloud-native, globally distributed and massively scalable database - Azure Cosmos DB!
                 </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img src="~/images/about/cosmos-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-swimlane" asp-append-version="true" />
            </div>
        </div>
    </div>
</div>

@section scripts {
}

@{ await Html.RenderPartialAsync("_TryCosmos"); }

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>