@model IEnumerable<cosmosweb.Models.PartnerTechSession>
@{ ViewData["Title"] = "Partner Tech Connect";
    ViewData["Description"] = "Series of partner sessions on Cosmos DB";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Partner Tech Connect</h1>
}
<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-08">
                <span>
                    <a href="~/partners/partnertechconnect/sessions" target="_self" class="btn btn-default">Session Topics Schedule</a>
                    <a href="~/partners/partnertechconnect/qna" target="_self" class="btn btn-default">QnA Schedule</a>
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3 "">Special topic sessions schedule</h3>
                <h7>The ‘Special topic sessions’ series will include monthly technical sessions focused on hot Azure Cosmos DB topics delivered by the experts from Azure Cosmos DB engineering team.</h7>
                <h4 onclick="">*Timing: 10 am IST and 10 am PST on each of these dates*</h4>
            </div>
            <div class="col-sm-2"></div>
        </div>

        @foreach (var item in Model)
        {
            string utcTime = item.Date.ToString();
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="media" style="border-style:solid;border-color:silver;border-width:thin;">
                        <div class="media-body">
                            <div style="background-color:#0078D4">
                                <h4 style="color:#FFFFFF"><time>@utcTime</time></h4>
                            </div>
                            <div style="padding-left:4px;padding-right:4px;">
                                <h4><b>@Html.DisplayFor(modelItem => item.Title)</b></h4>
                                <p>@Html.DisplayFor(modelItem => item.Title)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $("time").each(function (elem) {
            var utctimeval = $(this).html();
            var date = new Date(utctimeval);
            $(this).html(date.toLocaleString());
        })
    </script>
}
