@model IEnumerable<cosmosweb.Models.PartnerTechSession>
@{ ViewData["Title"] = "Partner Tech Connect";
    ViewData["Description"] = "Series of partner sessions on Cosmos DB";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Third Party ISV Tools</h1>
}


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/alpaqa-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Alpaqa Studio for Cosmos DB</h2>
                <p class="min-height-80-sm">
                    Your professional management studio for Microsoft Azure Cosmos DB.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://alpaqastudio.com/" target="_blank" role="button">Try Now</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/cerebrata.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Cerebrata for Cosmos DB</h2>
                <p class="min-height-80-sm">
                    Cerebrata provides extensive features to manage your Cosmos DB accounts in multiple ways including Azure AD & Access Keys.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://cerebrata.com/" target="_blank" role="button">Try Now</a></p>
                    </div>
            </div>
            <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
                <div class="min-height-80-sm">
                    <img src="/images/tools/neudesic.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Neudesic’s KINISI Data Migration</h2>
                <p class="min-height-80-sm">
                    Neudesic’s KINISI Data Migration Accelerator-POC service offers accelerated feasibility and impact analysis for clients.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://www.neudesic.com/" target="_blank" role="button">Try Now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
}

@{ await Html.RenderPartialAsync("_TryCosmos"); }

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>