@model IEnumerable<cosmosweb.Models.PartnerTechSession>
@{ ViewData["Title"] = "Partner Tech Connect";
    ViewData["Description"] = "Series of partner sessions on Cosmos DB";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Partner News</h1>
}
<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
                    <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-primary py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp; <h6>Got Feedback,questions?</h6> </span></div>
                    <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">  <h6>Feedback,comments,topics you want to hear about : please drop an email to <a href="mailto:cosmospartnersuccess@microsoft.com">cosmospartnersuccess@microsoft.com</h6></a> </marquee>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
                    <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-primary py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;<h6> 1:1 Discussion with Engineering </h6></span></div>
                    <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"><h6> If you want 1-1 discussion about a customer scenario: :  <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR9Q0IR4avz1KoOnQ4t2kKjBUQjFBSUpPMzZKNFNPVlI2Ujg0REk3QTJOTi4u" target="_blank"> Cosmos DB Partner Escalation Request Form </h6> </a> </marquee>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center bg-white">
                    <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-primary py-2 text-white px-1"><span class="d-flex align-items-center">&nbsp;<h6> Beta exam DP470 Nominations </h6></span></div>
                    <h6> <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR8iQnmliNutArX-2WNxr9QVUOEkyRFBOQlVGTUNCVVRVTko0RFQ3MUYyWS4u&wdLOR=c0B3BB1EF-5C4B-4D16-AA1F-7F8F80E4F2F7">Azure Cosmos DB Certification -  Beta exam DP 470 -opening on 11th November​ </h6></a>
                     <p>
                     Before you commit to the beta experience, please note that:  
                    <ul>
                       <li>You must schedule and take the exam between <b>November 30, 2021 and January 10, 2022.</b></li>
                       <li>The discount code will be available on a first-come, first-served basis for the first 70 people who schedule an exam. If you receive the discount code, please be sure to use it. Otherwise, it’s a missed opportunity for you and for someone else. </li>
                       <li>This beta exam won’t be available in <b>Turkey, Pakistan, India, or China.</b></li>
                       <li>Beta exams aren’t scored immediately, so beta exam takers won’t receive results right away. Get more information in our blog posts <a href="https://techcommunity.microsoft.com/t5/microsoft-learn-blog/creating-high-quality-exams-the-path-from-beta-to-live/ba-p/1469422"> Creating high-quality exams: The path from beta to live</a> and <a href="https://techcommunity.microsoft.com/t5/microsoft-learn-blog/just-how-does-one-prepare-for-beta-exams/ba-p/1469421"> Just How Does One Prepare for Beta Exams?.</a> </li>
                       <li>You can take the exam online. For details, check out our blog post <a href="https://techcommunity.microsoft.com/t5/microsoft-learn-blog/online-proctored-exams-what-to-expect-and-how-to-prepare/ba-p/1469424">Online proctored exams: What to expect and how to prepare.</a> </li>  
                   </ul>
                </p>
                </div>
            </div>
        </div>
    </div>    
</div>

@section scripts {
}

@{ await Html.RenderPartialAsync("_TryCosmos"); }
