<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-08">
        <span>
            <a href="~/conf/livestream" target="_self" class="btn btn-default">Live</a>
            <a href="~/conf/ondemand" target="_self" class="btn btn-default">On-Demand</a>
            <a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a>
        </span>
    </div>
    <div class="col-sm-2"></div>
</div>