@model cosmosweb.Models.ConferenceSchedule
@{ ViewData["Title"] = "Azure Cosmos DB Conf Agenda";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <span>
                    <a href="~/conf" target="_self" class="btn btn-default">Conf Home</a>
                    <a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a>
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        @{ await Html.RenderPartialAsync("LiveStream", Model.LiveSessions); }
        @{ await Html.RenderPartialAsync("OnDemand", Model.OnDemandSessions); }
    </div>
</div>
@section scripts{
    <script>
        $("time").each(function (elem) {
            var utctimeval = $(this).html();
            var date = new Date(utctimeval);
            $(this).html(date.toLocaleString());
        })
    </script>

}

@{ await Html.RenderPartialAsync("_TryCosmos"); }
