@{ ViewData["Title"] = "Azure Cosmos DB Conf";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">    
        <main>
            <div class="row">
                <div class="col-sm-2" style="background-color: #1A1A1F">
                    <h1 style="background-color: #1A1A1F">      </h1>
                </div>
                <div style="align-items: center">
                    <h1 id="countdown" style="background-color: #1A1A1F; color: #0070c0"></h1>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </main>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery.countdown/jquery.countdown.js"></script>

    <script>

        /* ---------------------------------------------------------
         * Countdown
         */

        var description = {
            weeks: "weeks",
            days: "days",
            hours: "hours",
            minutes: "minutes",
            seconds: "seconds"
        };

        // year/month/day
        // target date is read from Configuration - by default, can be set in appsettings.json, command line, environment variable etc., due to the use of CreateDefaultBuilder in Program.cs (see https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#default-configuration)
        $('#countdown').countdown('2021/3/2 06:55 PM', function (event) {
            $(this).html(event.strftime(
                '<b>%M</b>:<b>%S</b>'
            ));
        });</script>
}

