<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="media" style="border-style:solid;border-color:#0078D4;border-width:thin">
            <div class="media-left">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/rIjH24x19pQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="media-body">
                <h4><b><a href="https://youtu.be/rIjH24x19pQ" target="_blank">Azure Cosmos DB Conf - Keynote</a></b></h4>
                <p>
                    Join Director of Product Management for Azure Cosmos DB, Kirill Gavrylyuk to kick off Azure Cosmos DB Conf. Kirill will highlight key Cosmos DB capabilities and recent announcements.
                </p>
                <p>Kirill will also be joined by some notable guests who will share their stories using Cosmos DB, including Anand Krishnamurthy, Group Engineering Manager, Microsoft Teams, Guillermo Rauch, CEO of Vercel and Meg Holzinger, Software Design Engineer from Yammer.</p>
                <p>Kirill Gavrylyuk - Director of Product Management, Azure Cosmos DB</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="media" style="border-style:solid;border-color:#0078D4;border-width:thin">
            <div class="media-left">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/1aTjlWfEizQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="media-body">
                <h4><b><a href="https://youtu.be/1aTjlWfEizQ" target="_blank">Data and Different System Architectures to Build a Truly Unified View</a></b></h4>
                <p>
                    Digital components enterprises need to develop a 360-degree view of their customers and the capabilities and limitations inherent in the technologies available to help them do that. In this session, Sandeep Nawathe will cover a new approach — one that unifies disparate data sources and system architectures to develop a Unified Profile that is actionable in real-time.
                </p>
                <p>Sandeep Nawathe - Sr. Director of Engineering, Adobe</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="media" style="border-style:solid;border-color:#0078D4;border-width:thin">
            <div class="media-left">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/oyJSk-TV7_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="media-body">
                <h4><b><a href="https://youtu.be/oyJSk-TV7_M" target="_blank">Real-Time Scoring to Improve Personalization with Adobe Experience Platform</a></b></h4>
                <p>
                    For an Insurance company, we generated real-time sales predictions for anonymous, unknown website visitors using Adobe Experience Platform. We discuss how we used Adobe Experience Platform and Data Science Workspace services to provide brands with the ability to use ML Models to score customer behavior in real-time to personalize and contextualize personalization in order to increase conversions.
                </p>
                <p>Kalaiyarasan Venkatesan - Senior Engineering Architect, Adobe</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="media" style="border-style:solid;border-color:#0078D4;border-width:thin">
            <div class="media-left">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/oyJSk-TV7_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="media-body">
                <h4><b><a href="https://youtu.be/oyJSk-TV7_M" target="_blank">Vercel + CosmosDB: The Journey</a></b></h4>
                <p>
                    In this session I'd like to go through the most important challenges we had to solve at Vercel using CosmosDB. During an almost 4 years journey we had to face a variety of challenges that could be of interest for attendees such as: - Tracing operations. - Custom metrics reporting. - Repartition of migrations. - Custom indexing across partitioned collections. - Many to many relationships. - Performance optimizations. - Helper functions. I'd mostly focus on the features we have built that worked pretty well for us and sharing the stunning throughput we have had with CosmosDB.
                </p>
                <p>Javi Velasco - API Engineering Lead, Vercel</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="media" style="border-style:solid;border-color:#0078D4;border-width:thin">
            <div class="media-left">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/oyJSk-TV7_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="media-body">
                <h4><b><a href="YouTube Watch URI" target="_blank">Operational Triumph with Cosmos DB</a></b></h4>
                <p>
                    Since its official release in 2017 ASOS has been using Cosmos DB to reimagine our Commerce platform. Let’s take a look at how Cosmos DB has been vital to conquer our operational data needs while remaining flexible for peak periods such as Black Friday. By combining Cosmos DB and Event Hubs we have developed robust hassle-free Big Data ingestion pipelines. We'll finish by showing how we have adopted Data Mesh principles and developed a distributed lambda architecture.
                </p>
                <p>Gary Strange - Big Data Architect, ASOS</p>
                <p>Amrish Patel - Solutions Architect, ASOS</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>