@{ ViewData["Title"] = "Azure Cosmos DB Conf";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}

@{ 
    DateTime currentDateTime = DateTime.Now; //UTC
    DateTime showStartDateTime = new DateTime(2022, 04, 19, 15, 45, 00); //UTC
    DateTime showEndDateTime = new DateTime(2021, 04, 20, 12, 00, 00); // Need to update with actual end time
    int goLive = DateTime.Compare(currentDateTime, showStartDateTime);
    int goOffAir = DateTime.Compare(showEndDateTime, currentDateTime);
    string showState = "preshow";

    if (goLive < 0) //Current Date less than Go Live
        showState = "preshow";
    else if (goOffAir < 0)
        showState = "offair";
    else
        showState = "onair"; }


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        

        @{ if (showState == "preshow")
                await Html.RenderPartialAsync("preshow");
            else if (showState == "onair")
            {
                await Html.RenderPartialAsync("_TopNav");
                await Html.RenderPartialAsync("onair");
            }
            else if (showState == "offair")
            {
                await Html.RenderPartialAsync("_TopNav");
                await Html.RenderPartialAsync("offair");
            }
        }
    </div>
    
</div>

@section scripts {
    <script src="~/lib/jquery.countdown/jquery.countdown.js"></script>

    <script>
        /* ---------------------------------------------------------
         * Countdown
         */

        var description = {
            weeks: "weeks",
            days: "days",
            hours: "hours",
            minutes: "minutes"
        };

        var goLive = new Date('2022-04-19T16:00:00Z');
        // year/month/day
        $('#countdown').countdown(goLive, function (event) {
            $(this).html(event.strftime(
                '<div><b>%w</b> <span>' + description.weeks + '&nbsp;</span>' +
                '<b>%d</b> <span>' + description.days + '&nbsp;</span>' +
                '<b>%H</b> <span>' + description.hours + '&nbsp;</span>' +
                '<b>%M</b> <span>' + description.minutes + '&nbsp;</span>'
            ));
        });
    </script>
}

@{ await Html.RenderPartialAsync("_TryCosmos"); }

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>