@{ ViewData["Title"] = "Azure Cosmos DB Conf";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        @*<div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <a href="~/conf/agenda" target="_self" class="btn btn-default">Agenda</a>
                        <a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>*@
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2>Azure Cosmos DB Conf</h2>
                <h3>April 20, 2021</h3>
                @*<h3>70 days, 23 hours, 15 minutes</h3>*@
                <h3>@*@{ await Html.RenderPartialAsync("_CountDown"); }*@</h3>
                @*<p></p>
                    <div title="Add to Calendar" class="addeventatc btn btn-default">
                        Add to Calendar
                        <span class="start">04/20/2021 09:00 AM</span>
                        <span class="end">04/21/2021 04:00 AM</span>
                        <span class="timezone">America/Los_Angeles</span>
                        <span class="title">Azure Cosmsos DB Conf</span>
                        <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                        <span class="location">https://gotcosmos.com/conf</span>
                        <span class="alarm_reminder">720</span>
                    </div>*@
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img src="~/images/about/cosmos-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <main>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <br /><br />
                        <p>
                            Join us on April 20, 2021 for the very first Azure Cosmos DB Conf. Azure Cosmos DB Conf is a free online virtual developer event co-organized by Microsoft and the Cosmos DB community.
                            Sessions will be a combination of Microsoft and community delivered. Come and learn more about Azure Cosmos DB. See what others in the community are building.
                        </p>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <br /><br />
                        <p>The CfP for Azure Cosmos DB Conf is open now until March 12, 2021 11:59 UTC. To learn more and to submit a session visit <a href="https://sessionize.com/azure-cosmos-db-conf" target="_blank">Azure Cosmos DB Conf CfP on Sessionize.</a> guide.</p>
                        <p><a href="https://sessionize.com/azure-cosmos-db-conf" target="_blank" class="btn btn-default">Submit a session!</a></p>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <br /><br />
                        <p>Be sure to keep an eye on upcoming announcements. Follow us at <a href="https://twitter.com/azurecosmosdb" target="_blank">@@AzureCosmosDB</a> and our hash tag <a href="https://twitter.com/search?q=%23CosmosDBConf" target="_blank">#CosmosDBConf</a></p>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </main>
    </div>

</div>


<!--<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins: false)">
    <div class="container-fluid">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">-->
@*<img src="~/images/shared/cosmosdb_lighttheme.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />*@
<!--<img src="~/images/about/cosmos-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>

            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB Conf</h2>
                <p>
                    Join us on April 20, 2021 for the very first Azure Cosmos DB Conf. Azure Cosmos DB Conf is a free online virtual developer event co-organized by Microsoft and the Cosmos DB community.
                    Sessions will be a combination of Microsoft and community delivered. Come and learn more about Azure Cosmos DB. See what others in the community are building.
                </p>
                <p></p>
                <div title="Add to Calendar" class="addeventatc btn btn-default">
                    Add to Calendar
                    <span class="start">04/20/2021 09:00 AM</span>
                    <span class="end">04/21/2021 04:00 AM</span>
                    <span class="timezone">America/Los_Angeles</span>
                    <span class="title">Azure Cosmsos DB Conf</span>
                    <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                    <span class="location">https://gotcosmos.com/conf</span>
                    <span class="alarm_reminder">720</span>
                </div>
                <p></p>
                <p>The CfP for Azure Cosmos DB Conf is open now until March 12, 2021 11:59 UTC. To learn more and to submit a session visit <a href="https://sessionize.com/azure-cosmos-db-conf" target="_blank">Azure Cosmos DB Conf CfP on Sessionize.</a> guide.</p>
                <p><a href="https://sessionize.com/azure-cosmos-db-conf" target="_blank" class="btn btn-default">Submit a session!</a></p>

                <p><a href="~/conf/agenda" target="_self" class="btn btn-default">Agenda</a></p>
                <p><a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a></p>

                <p>Be sure to keep an eye on upcoming announcements. Follow us at <a href="https://twitter.com/azurecosmosdb" target="_blank">@@AzureCosmosDB</a> and our hash tag <a href="https://twitter.com/search?q=%23CosmosDBConf" target="_blank">#CosmosDBConf</a></p>
            </div>

        </div>
    </div>
</div>-->


@{ await Html.RenderPartialAsync("_CountDown"); }



@section scripts {
    <script src="~/lib/jquery.countdown/jquery.countdown.js"></script>

    <script>
        /* ---------------------------------------------------------
         * Countdown
         */

        var description = {
            weeks: "weeks",
            days: "days",
            hours: "hours",
            minutes: "minutes",
            seconds: "seconds"
        };

        // year/month/day
        // target date is read from Configuration - by default, can be set in appsettings.json, command line, environment variable etc., due to the use of CreateDefaultBuilder in Program.cs (see https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#default-configuration)
        $('#countdown').countdown('2021/4/20', function (event) {
            $(this).html(event.strftime(
                '<div><b>%w</b> <span>' + description.weeks + '&nbsp;</span>' +
                '<b>%d</b> <span>' + description.days + '&nbsp;</span>' +
                '<b>%H</b> <span>' + description.hours + '&nbsp;</span>' +
                '<b>%M</b> <span>' + description.minutes + '&nbsp;</span>' +
                '<b>%S</b> <span>' + description.seconds + '</span></div>'
            ));
        });
    </script>
}

@{ await Html.RenderPartialAsync("_TryCosmos"); }

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>