@{ ViewData["Title"] = "Azure Cosmos DB Conf";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        @*<div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <a href="~/conf/agenda" target="_self" class="btn btn-default">Agenda</a>
                        <a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>*@
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2>Azure Cosmos DB Conf</h2>
                <h3>April 20-21, 2021</h3>
                <h4 id="countdown"></h4>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img src="~/images/about/cosmos-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <main>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <br /><br />
                        <p>
                            Join us on April 20-21, 2021 for the very first Azure Cosmos DB Conf. Azure Cosmos DB Conf is a free online virtual developer event organized in collaboration
                            with the Azure Cosmos DB community, and sessions will be delivered by community members and Microsoft
                            The event will be streamed in three, 3-hour live segments with unique content in each. To ensure you don’t miss any of the great content,
                            sessions will soon after be available to view on-demand on the <a href="https://youtube.com/azurecosmosdb">Azure Cosmos DB YouTube channel</a>.
                        </p>
                        <p>
                            Come and learn more about Azure Cosmos DB. See what others in the community are building.
                        </p>
                        <p>
                            Here are the times for our streams. You can <a href="https://cosmosdbconf2021registration.splashthat.com/" target="_blank">RSVP by email</a> or
                            click Add to Calendar below to add each of the live stream reminders to your calendar.
                        </p>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <span>
                        <b><u>Seattle</u></b>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        <b><u>London</u></b>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        <b><u>Mumbai</u></b>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        <b><u>Sydney</u></b>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <span>
                        (UTC-7:00)
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        (UTC+0:00)
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        (UTC+5:30)
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        (UTC+10:00)
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div title="Add to Calendar" class="addeventatc btn btn-default">
                        Add to Calendar
                        <span class="start">04/20/2021 09:00 AM</span>
                        <span class="end">04/20/2021 12:00 PM</span>
                        <span class="timezone">America/Los_Angeles</span>
                        <span class="title">Azure Cosmsos DB Conf</span>
                        <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                        <span class="location">https://gotcosmos.com/conf</span>
                        <span class="alarm_reminder">1440</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span>
                        4/20 9:00AM-12:00PM
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        20-4 17:00-20:00
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        20-4 22:30-01:30
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 03:00-06:00
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div title="Add to Calendar" class="addeventatc btn btn-default">
                        Add to Calendar
                        <span class="start">04/20/2021 08:00 PM</span>
                        <span class="end">04/20/2021 11:00 PM</span>
                        <span class="timezone">America/Los_Angeles</span>
                        <span class="title">Azure Cosmsos DB Conf</span>
                        <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                        <span class="location">https://gotcosmos.com/conf</span>
                        <span class="alarm_reminder">1440</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span>
                        4/20 8:00PM-11:00PM
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 04:00-07:00
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 09:30-12:30
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 14:00-17:00
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div title="Add to Calendar" class="addeventatc btn btn-default">
                        Add to Calendar
                        <span class="start">04/21/2021 01:00 AM</span>
                        <span class="end">04/21/2021 04:00 AM</span>
                        <span class="timezone">America/Los_Angeles</span>
                        <span class="title">Azure Cosmsos DB Conf</span>
                        <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                        <span class="location">https://gotcosmos.com/conf</span>
                        <span class="alarm_reminder">1440</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span>
                        4/21 1:00AM-4:00AM
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 09:00-12:00
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 14:30-17:30
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>
                        21-4 19:00-22:00
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span>
                        <br /><br />
                        <p>Be sure to keep an eye on upcoming announcements. Follow us at <a href="https://twitter.com/azurecosmosdb" target="_blank">@@AzureCosmosDB</a> and our hash tag <a href="https://twitter.com/search?q=%23CosmosDBConf" target="_blank">#CosmosDBConf</a></p>
                    </span>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </main>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <br/><br/>
                <p><u><b>Azure Cosmos DB Conf Digital Event Code of Conduct</b></u></p>

                <p>Microsoft’s mission is to empower every person and every organization on the planet to achieve more. This includes all Microsoft events and gatherings, including on digital platforms, where we seek to create a respectful, friendly, fun and inclusive experience for all participants.</p>
                <p>We expect all digital event participants to uphold the principles of this Code of Conduct, which covers the main digital event and all related activities. We do not tolerate disruptive or disrespectful behavior, messages, images, or interactions by any party participant, in any form, at any aspect of the program including business and social activities, regardless of location.</p>
                <p>Microsoft will not tolerate harassment or discrimination based on age, ancestry, color, gender identity or expression, national origin, physical or mental disability, religion, sexual orientation, or any other characteristic protected by applicable local laws, regulations, and ordinances.</p>
                <p>We encourage everyone to assist in creating a welcoming and safe environment. Please report any concerns, harassing behavior, suspicious, or disruptive activity to Business Conduct Hotline (1-877-320-MSFT or buscond@microsoft.com). Microsoft reserves the right to refuse participation to or remove any person from Azure Cosmos DB Conf at any time at its sole discretion.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/lib/jquery.countdown/jquery.countdown.js"></script>

    <script>
        /* ---------------------------------------------------------
         * Countdown
         */

        var description = {
            weeks: "weeks",
            days: "days",
            hours: "hours",
            minutes: "minutes"
        };

        // year/month/day
        // target date is read from Configuration - by default, can be set in appsettings.json, command line, environment variable etc., due to the use of CreateDefaultBuilder in Program.cs (see https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#default-configuration)
        $('#countdown').countdown('2021/4/20', function (event) {
            $(this).html(event.strftime(
                '<div><b>%w</b> <span>' + description.weeks + '&nbsp;</span>' +
                '<b>%d</b> <span>' + description.days + '&nbsp;</span>' +
                '<b>%H</b> <span>' + description.hours + '&nbsp;</span>' +
                '<b>%M</b> <span>' + description.minutes + '&nbsp;</span>'
            ));
        });
    </script>
}

@{ await Html.RenderPartialAsync("_TryCosmos"); }

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>