
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <h2>Azure Cosmos DB Conf</h2>
        <h3>April 20-21, 2021</h3>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <img src="~/images/about/cosmos-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-swimlane" asp-append-version="true" />
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 style="color:#0078D4">Thats a wrap!</h2>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        The live streams for Azure Cosmos DB Conf are now over. Be sure to check out all of our <a target="_blank" href="~/conf/ondemand">On-Demand sessions</a> available now.<br /><br />
        The <a target="_blank" href="~/conf/livestream">live sessions</a> will be available on demand in 24-48 hours. Feel free to check back here <a target="_blank" href="https://twitter.com/azurecosmosdb">or follow us on Twitter</a> where we will announce their availability.
    </div>
    <div class="col-sm-2"></div>
</div>
<br/>
@*<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h3>Featured Live Sessions</h3>
    </div>
    <div class="col-sm-2"></div>
</div>
@{ await Html.RenderPartialAsync("featured"); }
<br/>*@

