    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>Azure Cosmos DB Conf</h2>
            <h3>April 19-20, 2022</h3>
            <h4 id="countdown"></h4>
            <p><h4><a href="https://sessionize.com/azure-cosmos-db-conf-2022/" target="_blank">Submit a session today!</a></h4></p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img src="~/images/shared/cosmos-db-logo-300x300.png" role="presentation" alt="" class="img-responsive img-responsive-swimlane" asp-append-version="true" />
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <span>
                <br /><br />
                <p>
                    Join us on April 19-20, 2022 for Azure Cosmos DB Conf. Azure Cosmos DB Conf is a free online virtual developer event organized in collaboration
                    with the Azure Cosmos DB community, and sessions will be delivered by community members and Microsoft.
                    The event will be streamed in three, 3-hour live segments with 25-minute sessions. Each Live Stream will have its own unique content.
                 </p>
                 <p>
                     <b>Download a reminder for your calendar</b> by visiting the <a href="https://docs.microsoft.com/en-us/events/learntv/azure-cosmos-db-april-2022/?WT.mc_id=cosmosdb-53741-jemorg" target="_blank" >
                         Azure Cosmos DB Conf Live Streaming Page on Learn TV</a> to see the local start times for the live streams as well as download an .ics reminder for your calendar.
                 </p>
                 <p>
                     <!--The Call for Papers is now open. If you would like to submit sessions for Azure Cosmos DB Conf 2022, visit our <a href="https://sessionize.com/azure-cosmos-db-conf-2022/" target="_blank">CFP on Sessionize</a>-->
                 </p>
                 <p>   
                    Check out last year's sessions available for viewing on-demand on our <a href="https://www.youtube.com/playlist?list=PLmamF3YkHLoLN_24E41jSPVilv5B3GTBg">Azure Cosmos DB YouTube channel</a>.
                </p>
                @*<p>
                    Come and learn more about Azure Cosmos DB. See what companies like <a href="https://adobe.com/" target="_blank">Adobe</a>,
                    <a href="https://asos.com/" target="_blank">ASOS</a>, <a href="https://vercel.com/" target="_blank">Vercel</a> and others in the community are building.
                </p>
                <p>
                    Here are the times for our streams. You can <a href="https://cosmosdbconf2021registration.splashthat.com/" target="_blank">RSVP by email</a> or
                    click Add to Calendar below to add each of the live stream reminders to your calendar.
                </p>*@
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
  @*  <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <span>
                <b><u>Seattle</u></b>
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                <b><u>London</u></b>
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                <b><u>Mumbai</u></b>
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                <b><u>Sydney</u></b>
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <span>
                (UTC-7:00)
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                (UTC+1:00)
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                (UTC+5:30)
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                (UTC+10:00)
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div title="Add to Calendar" class="addeventatc btn btn-default">
                Add to Calendar
                <span class="start">04/19/2022 09:00 AM</span>
                <span class="end">04/20/2021 12:00 PM</span>
                <span class="timezone">America/Los_Angeles</span>
                <span class="title">Azure Cosmsos DB Conf</span>
                <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://developer.azurecosmosdb.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                <span class="location">"https://developer.azurecosmosdb.com/conf</span>
                <span class="alarm_reminder">1440</span>
            </div>
        </div>
        <div class="col-sm-2">
            <span>
                4/19 9:00AM-12:00PM
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                20-4 17:00-20:00
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                20-4 21:30-00:30
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 02:00-04:00
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div title="Add to Calendar" class="addeventatc btn btn-default">
                Add to Calendar
                <span class="start">04/19/2022 08:00 PM</span>
                <span class="end">04/20/2021 11:00 PM</span>
                <span class="timezone">America/Los_Angeles</span>
                <span class="title">Azure Cosmsos DB Conf</span>
                <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                <span class="location">https://gotcosmos.com/conf</span>
                <span class="alarm_reminder">1440</span>
            </div>
        </div>
        <div class="col-sm-2">
            <span>
                4/20 8:00PM-11:00PM
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 04:00-07:00
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 08:30-11:30
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 13:00-16:00
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div title="Add to Calendar" class="addeventatc btn btn-default">
                Add to Calendar
                <span class="start">04/21/2021 02:00 AM</span>
                <span class="end">04/21/2021 05:00 AM</span>
                <span class="timezone">America/Los_Angeles</span>
                <span class="title">Azure Cosmsos DB Conf - EMEA Stream</span>
                <span class="description">Join us for the very first Azure Cosmos DB Conf, a free, virtual developer event co-organized by Microsoft and the Cosmos DB community. Visit <a href="https://gotcosmos.com/conf" target="_blank" class="btn btn-default">Azure Cosmos DB Conf to watch!</a></span>
                <span class="location">https://gotcosmos.com/conf</span>
                <span class="alarm_reminder">1440</span>
            </div>
        </div>
        <div class="col-sm-2">
            <span>
                4/21 2:00AM-5:00AM
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 10:00-13:00
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 14:30-16:30
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                21-4 19:00-21:00
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <span>
                <br /><br />
                <p>Follow us at <a href="https://twitter.com/azurecosmosdb" target="_blank">@@AzureCosmosDB</a> and our event hash tag <a href="https://twitter.com/search?q=%23CosmosDBConf" target="_blank">#CosmosDBConf</a></p>
            </span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <br /><br />
            <p><u><b>Azure Cosmos DB Conf Digital Event Code of Conduct</b></u></p>

            <p>Microsoft’s mission is to empower every person and every organization on the planet to achieve more. This includes all Microsoft events and gatherings, including on digital platforms, where we seek to create a respectful, friendly, fun and inclusive experience for all participants.</p>
            <p>We expect all digital event participants to uphold the principles of this Code of Conduct, which covers the main digital event and all related activities. We do not tolerate disruptive or disrespectful behavior, messages, images, or interactions by any party participant, in any form, at any aspect of the program including business and social activities, regardless of location.</p>
            <p>Microsoft will not tolerate harassment or discrimination based on age, ancestry, color, gender identity or expression, national origin, physical or mental disability, religion, sexual orientation, or any other characteristic protected by applicable local laws, regulations, and ordinances.</p>
            <p>We encourage everyone to assist in creating a welcoming and safe environment. Please report any concerns, harassing behavior, suspicious, or disruptive activity to Business Conduct Hotline (1-877-320-MSFT or buscond@microsoft.com). Microsoft reserves the right to refuse participation to or remove any person from Azure Cosmos DB Conf at any time at its sole discretion.</p>
        </div>
        <div class="col-sm-2"></div>
    </div>*@