@{ ViewData["Title"] = "Azure Cosmos DB Conf Speakers";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <span>
                    <a href="~/conf" target="_self" class="btn btn-default">Conf Home</a>
                    <a href="~/conf/agenda" target="_self" class="btn btn-default">Agenda</a>
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <script type="text/javascript" src="https://sessionize.com/api/v2/cbccoz00/view/Speakers"></script>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">

    </div>
</div>


@{ await Html.RenderPartialAsync("_TryCosmos"); }