@{
    ViewData["Title"] = "Azure Cosmos DB Developer Community";
    ViewData["Description"] = "Get involved in the Azure Cosmos DB community. Attent a meetup in your local area, join us on GitHub, ask a question on StackOverflow, or follow us on Twitter.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Developer Community</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="media-grid">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://twitter.com/AzureCosmosDB" target="_blank"><span class="ms-Image"><img src="~/images/community/twitter.svg" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://twitter.com/AzureCosmosDB" target="_blank">Twitter</a></h2>
                            <p><a href="https://twitter.com/AzureCosmosDB" target="_blank">@@AzureCosmosDB</a> Follow us to keep in touch with us and get updates. You can also keep a search of <a href="https://twitter.com/search?q=%23CosmosDB" target="_blank">#cosmosdb</a> for updates on Azure Cosmos DB from the community.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://devblogs.microsoft.com/cosmosdb/"><span class="ms-Image"><img src="~/images/community/blog.svg" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://devblogs.microsoft.com/cosmosdb/" target="_blank">Blog</a></h2>
                            <p>
                                Stay up to date with the <a href="https://devblogs.microsoft.com/cosmosdb/" target="_blank">Azure Cosmos DB Blog </a> for the latest information, news and updates on Azure Cosmos DB as well as tips and tricks and valuable insights from our engineering team.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://youtube.com/azurecosmosdb" target="_blank"><span class="ms-Image"><img src="~/images/community/youtube.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://youtube.com/azurecosmosdb" target="_blank">YouTube</a></h2>
                            <p><a href="https://www.youtube.com/channel/UC9OJ32CzooNJNoP6_iIfxRw?sub_confirmation=1" target="_blank">Subscribe to our YouTube channel</a> to see the latest new videos including how-to videos, interviews, user group meetups and full-length technical sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://stackoverflow.com/questions/tagged/azure-cosmosdb" target="_blank"><span class="ms-Image"><img src="~/images/community/stackoverflow.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://stackoverflow.com/questions/tagged/azure-cosmosdb" target="_blank">Stack Overflow</a></h2>
                            <p><a href="https://stackoverflow.com/questions/tagged/azure-cosmosdb" target="_blank">StackOverflow</a> is one of the most used sites for getting help to technical questions, and there are a lot of great answers to Azure Cosmos DB questions already.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://docs.microsoft.com/answers/topics/azure-cosmos-db.html" target="_blank"><span class="ms-Image"><img src="~/images/community/ms-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html" target="_blank">Microsoft Q&A</a></h2>
                            <p><a href="https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html" target="_blank">Microsoft Q&A</a> is Microsoft's official online community help forum. Ask questions in the public forum. Can also connect and share privately connect with engineers if needed.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858" target="_blank"><span class="ms-Image"><img src="~/images/community/ms-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858" target="_blank">Share your ideas</a></h2>
                            <p>Visit our <a href="https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858" target="_blank">user feedback and suggestion</a> site to see what features customers are asking for. Request and vote up features yourself.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/community/github"><span class="ms-Image"><img src="~/images/community/github.svg" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/community/sdk">SDKs and Samples</a></h2>
                            <p>Find all of the <a href="~/community/sdk">Azure Cosmos DB SDK</a> source code and official samples on GitHub as well as links to download packaged SDK releases.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://www.meetup.com/azure-cosmos-db-global-user-group/"><span class="ms-Image"><img src="~/images/community/meetup.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://www.meetup.com/azure-cosmos-db-global-user-group/">Global Virtual User Group</a></h2>
                            <p>Become a part of our global community and join the <a href="https://www.meetup.com/azure-cosmos-db-global-user-group/" target="_blank">Azure Cosmos DB Global User Group</a>. Meetup monthly to learn from experts and connect with others across the community world-wide. 
                                Also check out <a href="https://www.youtube.com/playlist?list=PLmamF3YkHLoJSJ1qdHDXXSlmkj2HKz-nb" target="_blank">past meetups on YouTube</a> to catch anything you might have missed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://docs.microsoft.com/samples/browse/?expanded=azure&products=azure-cosmos-db"><span class="ms-Image"><img src="~/images/community/ms-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://docs.microsoft.com/samples/browse/?expanded=azure&products=azure-cosmos-db">Azure Samples</a></h2>
                            <p>Browse all of the <a href="https://docs.microsoft.com/samples/browse/?expanded=azure&products=azure-cosmos-db" target="_blank">Azure Cosmos DB Samples </a> from Microsoft Docs you can fork and use to learn or build on top of.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/TV"><span class="ms-Image"><img src="~/images/community/cosmos-db-logo-50px.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/TV">Azure Cosmos DB Live TV</a></h2>
                            <p>Join Mark Brown for <a href="~/TV">Azure Cosmos DB Live TV</a>. Learn about new features or go deep on existing ones with interviews with the product team as well as customers, partners and the community. 
                                Each episode is full of great information, tips and tricks and product news to help you gain expertise from the team and community.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://podcast.cosmosdownunder.com/"><span class="ms-Image"><img src="~/images/community/cdu-podcast.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://podcast.cosmosdownunder.com/">Cosmos Down Under</a></h2>
                            <p>Join the <a href="https://podcast.cosmosdownunder.com/" target="_blank">Cosmos Down Under podcast</a> (audio), brought to you by 
                                Microsoft Data Platform MVP and Regional Director, <a href="https://rd.microsoft.com/greg-low" target="_blank">Dr. Greg Low</a>.
                                Each show includes interviews with leading Azure Cosmos DB experts and provides a wealth of information on using Azure Cosmos DB.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">


                        </div>
                        <div class="media-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
