@{
    //@inject cosmosweb.Helpers.LinkManager LinkManager;
    ViewData["Title"] = "Azure Cosmos DB Tools";
    ViewData["Description"] = "Explore and downloead tools for Azure Cosmos DB.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Tools</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/illustrations/factory-x-to-y.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Cosmos DB Emulator</h2>
                <p>
                    Develop and test your application locally, without creating an Azure subscription or incurring any costs.
                </p>
                <p><a href="https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator" target="_blank">Learn about Azure Cosmos DB Emulator</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/vscode.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Cosmos DB for VS Code</h2>
                <p>
                    Get rich intellisense and other capabilities for Azure Cosmos DB with the Azure Cosmos DB extension for VS Code
                </p>
                <p><a href="https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-cosmosdb" target="_blank">Download the VS Code Extension</a></p>
            </div>
            <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/storageexplorer.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Storage Explorer</h2>
                <p>
                    Manage Azure Cosmos DB entities, manipulate data, update stored procedures and triggers along with other Azure entities like Storage blobs and queues.
                </p>
                <p><a href="https://docs.microsoft.com/azure/cosmos-db/storage-explorer" target="_blank">Get Azure Storage Explorer</a></p>
            </div>
        </div>
    </div>
</div>
<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/illustrations/helicopeter-to-azure.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Database Migration Guide</h2>
                <p>
                    Step-by-step guidance for and tools for migrating Mongo DB and Cassandra databases and Azure Table storage to Cosmos DB.
                    <ul>
                        <li><a href="https://datamigration.microsoft.com/scenario/mongo-to-cosmos" target="_blank">Mongo DB migration</a></li>
                        <li><a href="https://datamigration.microsoft.com/scenario/cassandra-to-cosmos" target="_blank">Cassandra migration</a></li>
                    </ul>
                </p>
                <p><a href="https://datamigration.microsoft.com/" target="_blank">Learn about Database Migration Guide</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/illustrations/conveyor-belt-packages.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Data Migration Tool</h2>
                <p>
                    Import JSON files, CSV files, SQL, MongoDB, Azure Table storage, Amazon DynamoDB, and other SQL API containers into Azure Cosmos DB.
                </p>
                <p><a href="https://docs.microsoft.com/azure/cosmos-db/import-data" target="_blank">Learn about Data Migration Tool</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/illustrations/chemistry-lab.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Bulk Executor Library</h2>
                <p>
                    Perform bulk operations with significantly reduced client-side compute resources needed to saturate the throughput allocated to a container.
                    Bulk Executor supports SQL API and also Gremlin (graph) import as well.
                </p>
                <p><a href="https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-overview" target="_blank">Learn about Bulk Executor Library</a></p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
