@{
    //@inject cosmosweb.Helpers.LinkManager LinkManager;
    ViewData["Title"] = "Azure Cosmos DB Tools";
    ViewData["Description"] = "Explore and download tools for Azure Cosmos DB.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Tools</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="text-left">
            <h2>1st Party Tools</h2>
            <p class="mb-40">
                Tools and services available from Microsoft.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/emulator.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Cosmos DB Emulator</h2>
                <p>
                    Develop and test your application locally, without creating an Azure subscription or incurring any cost. Emulator available as a Windows download or Docker image. 
                        Linux emulator (Preview) also available as a Docker image for Azure Cosmos DB for NoSQL only.
                </p>
                <p><a href="https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator" target="_blank">Learn about Azure Cosmos DB Emulator</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/vscode.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Databases extension for VS Code</h2>
                <p>
                    Browse, query and manage both PostgreSQL and Azure Cosmos DB databases with database support for MongoDB and Apache Gremlin.
                </p>
                <p><a href="https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-cosmosdb" target="_blank">Download the VS Code Extension</a></p>
            </div>
            <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/storage-explorer.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Azure Data Factory</h2>
                <p>
                    Integrate Azure Cosmos DB with Azure Data Factory. A fully managed, serverless data integration service that can connect to other databases and storage services across Azure.
                </p>
                <p><a href="https://docs.microsoft.com/azure/data-factory/connector-azure-cosmos-db?tabs=data-factory" target="_blank">Explore Azure Cosmos DB Connector</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="text-left">
            <h2>3rd Party Tools</h2>
            <p class="mb-40">
                Tools and services available from our partners and the community.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/sql-studio.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Azure Cosmos DB SQL Studio</h2>
                <p class="min-height-80-sm">
                    Query Azure Cosmos DB SQL API directly from VS Code. Get query execution metrics, indexing policies and information about databases and containers.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://marketplace.visualstudio.com/items?itemName=SavranWeb.cosmosdbsqlapi" target="_blank" role="button">Download the VS Code Extension</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/alpaqa-logo.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Alpaqa Studio for Cosmos DB</h2>
                <p class="min-height-80-sm">
                    Your professional management studio for Microsoft Azure Cosmos DB. Best in class developer productivity. Author and tune queries. Visualize and explore data.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://alpaqastudio.com/" target="_blank" role="button">Try Now</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="min-height-165-sm">
                    <img src="~/images/tools/cerebrata.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Cerebrata for Cosmos DB</h2>
                <p class="min-height-80-sm">
                    Cerebrata provides extensive features to manage your Azure Cosmos DB accounts in multiple ways including Azure AD & Access Keys.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://cerebrata.com/" target="_blank" role="button">Try Now</a></p>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="min-height-80-sm">
                    <img src="/images/tools/neudesic.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20 text-center">Neudesic’s KINISI Data Migration</h2>
                <p class="min-height-80-sm">
                    Neudesic’s KINISI Data Migration Accelerator-POC service offers accelerated feasibility and impact analysis for clients.
                </p>
                    <div class="row text-center">
                <p><a class="btn btn-default btn-lg btn-scale" href="https://www.neudesic.com/" target="_blank" role="button">Try Now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
