@using cosmosweb.Helpers;

<div class="alerts">
    @if (DateTime.UtcNow < SiteConstants.Connect2018Start)
    {
        <div class="alert" style="padding: 5px 10px;">
            <div class="vertical-align-sm">
                <div class="mr-10 pb-10 pb-0-sm" style="min-width: 190px;">
                    <strong>Microsoft Connect(); 2018</strong>
                </div>
                <div class="mr-10 pb-10 pb-0-sm">
                    Tune in virtually on December 4, 2018, to get the latest updates on Azure and Visual Studio from the comfort of your favorite chair.
                </div>
                <div>
                    <a style="min-width: 120px;" class="btn btn-default btn-sm" href="https://www.microsoft.com/en-us/connectevent/?ocid=AID750056_QSG_BNR_287413" target="_blank">Join us live &gt;</a>
                </div>
            </div>
        </div>
    }
</div>