@{ var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration



<div class="swim swim-blue pt-40 pb-40 pt-60-sm pb-60-sm">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-sm-2 col-sm-offset-1">
                <img src="~/images/shared/cosmosdb_darktheme.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <p id="countdown">                
            </p>
        </div>
    </div>
</div>

