<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/home/what-is-cosmos.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">What is Azure Cosmos DB?</h2>
            <p>
                Azure Cosmos DB is Microsoft's globally-distributed multi-model database service.
            </p>
            <p><a class="mt-10 mb-20" href="~/about">Learn more</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/home/architecture-guides.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Architecture guides</h2>
            <p>
                Architectural diagrams, source code, and practical advice to help you build with Azure Cosmos DB.
            </p>
            <p><a class="mt-10 mb-20" href="~/architecture">Explore guidance</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/home/why-cosmos.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Why choose Azure Cosmos DB</h2>
            <p>
                Find out why customers all over the world, in many different industries, rely on Azure Cosmos DB.
            </p>
            <p><a class="mt-10 mb-20" href="~/about/customers">Meet customers</a></p>
        </div>
    </div>
</div>