<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/home/code-samples.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Code Samples</h2>
            <p>Check out all the code samples across multiple langues built around Azure Cosmos DB.
            </p>
            <p><a class="mt-10 mb-20" href="https://azure.microsoft.com/en-us/resources/samples/?sort=0&service=cosmos-db" target="_blank">Browse samples</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/home/workshops.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Workshops</h2>
            <p>
                Find online and in-person training.
            </p>
            <p><a class="mt-10 mb-20" href="~/workshops">Find workshops</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/home/presentations.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Presentations</h2>
            <p>
                Watch our latest presentations, download decks.
            </p>
            <p><a class="mt-10 mb-20" href="~/presentations">See presentations</a></p>
        </div>
    </div>
</div>