<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/code-or-gui.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">TCO</h2>
            <p>
                See data on other databases to see how we stack up.
            </p>
            <p><a class="mt-10 mb-20" href="~/learn/compare">See TCO data</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/toolbox2.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Workshops</h2>
            <p>
                Find online and in-person training.
            </p>
            <p><a class="mt-10 mb-20" href="~/workshops">Find workshops</a></p>
        </div>
        <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/screen.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Presentations</h2>
            <p>
                Watch our latest presentations, download decks.
            </p>
            <p><a class="mt-10 mb-20" href="~/presentations">See presentations</a></p>
        </div>
    </div>
</div>