<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/code-or-gui.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Comparison data</h2>
            <p>
                See data on other databases to see how we stack up.
            </p>
            <p><a class="mt-10 mb-20" href="~/learn/compare">See how Cosmos DB compares</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/toolbox2.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Workshops</h2>
            <p>
                Find all the latest and greatest workshops from the Cosmos team and partners.
            </p>
            <p><a class="mt-10 mb-20" href="~/workshops">Cosmos DB Workshops</a></p>
        </div>
        <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/screen.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Presentations</h2>
            <p>
                Check out our library of Powerpoint decks with deep dives on Cosmos DB.
            </p>
            <p><a class="mt-10 mb-20" href="~/presentations">Cosmos DB Presentations</a></p>
        </div>
    </div>
</div>