

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/global-data-storage.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">What is Cosmos DB?</h2>
            <p>
                Azure Cosmos DB is Microsoft's globally-distributed multi-model database service.
            </p>
            <p><a class="mt-10 mb-20" href="~/about">Learn more about Cosmos DB.</a></p>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/multiple-hands.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Architecture guides</h2>
            <p>
                Architectural diagrams, source code, and practical advice to help you build with Cosmos DB.
            </p>
            <p><a class="mt-10 mb-20" href="~/architecture">Learn about the different architecture guidance for Cosmos DB</a></p>
        </div>
        <div class="col-md-4 col-sm-6 pb-40 pb-0-sm">
            <div class="min-height-165-sm">
                <img src="~/images/illustrations/tree-with-people.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
            </div>
            <h2 class="h3 mt-20">Why choose Cosmos DB</h2>
            <p>
                Find out why customers all over the world, in many different industries, rely on Cosmos DB.
            </p>
            <p><a class="mt-10 mb-20" href="~/about/customers">Learn about customers using Cosmos DB.</a></p>
        </div>
    </div>
</div>