@using System.Security.Claims

@{

    string Name = "";
    string FirstName = "";
    string LastName = "";
    string MemberName = "";
    string Type = "";
    int isAuthenticated = 3;

    string AAD = "4983ebf2-44f1-441b-acdf-86ca987152cf";
    //string MSA = "00000000-0000-0000-2cfa-69f79bd87a65";

    if (User.Identity.IsAuthenticated)
    {
        isAuthenticated = 1;
        var identity = User.Identity as ClaimsIdentity; // Azure AD V2 endpoint specific

        string objectIdClaim = identity.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier").Value;

        if (objectIdClaim == AAD)
        {
            Type = "aad";
        }
        else
        {
            Type = "msa";
        }

        Name = identity.FindFirst("name")?.Value;
        FirstName = Name.Split(' ')[0].ToString();
        LastName = Name.Substring(FirstName.Length + 1);
        MemberName = identity.FindFirst("preferred_username")?.Value ?? identity.FindFirst("Name")?.Value;

        @*<ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">Hello @FirstName!</li>
                <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
            </ul>*@
    }
    else
    {
        @*<ul class="nav navbar-nav navbar-right">
                <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a></li>
            </ul>*@
    }
}

<script>
    (function () {
        var shellOptions = {
            meControlOptions: {
                containerId: 'meControlHeader',
                rpData:
                {
                    msaInfo: {
                        signOutUrl: "/azuread/account/signout",
                        signInUrl: "/azuread/account/signin",
                    },
                    aadInfo: {
                        signInUrl: "/azuread/account/signin",
                        signOutUrl: "/azuread/account/signout",
                        appId: '77a4639f-fff0-41e0-a5a5-410c4eedd33f',
                        siteUrl: 'https://gotcosmos.com/',
                        //siteUrl: 'https://localhost:44374/',
                        blockMsaFed: 'false'
                    },
                    preferredIdp: "aad",
                },
                userData: {
                    idp: '@Type',
                    firstName: '@FirstName',
                    lastName: '@LastName',
                    memberName: '@MemberName',
                    authenticatedState: @isAuthenticated
                }
            }
        };

        function setShellOptions(shellOptions) {
            if (window.msCommonShell) {
                window.msCommonShell.load(shellOptions);
            }
            else {
                window.onShellReadyToLoad = function () {
                    window.onShellReadyToLoad = null;
                    setShellOptions(shellOptions);
                };
            }
        }

        setShellOptions(shellOptions);
    }
    )();
</script>