@using System.Security.Claims

@{

    string FirstName = "";
    string LastName = "";
    string MemberName = "";
    string Type = "";
    string isAuthenticated = "3";

    if (User.Identity.IsAuthenticated)
    {
        isAuthenticated = "1";
        var identity = User.Identity as ClaimsIdentity; // Azure AD V2 endpoint specific

        var identityProviderClaim = identity.FindFirst("http://schemas.microsoft.com/identity/claims/identityprovider");
        if (identityProviderClaim == null)
        {
            Type = "aad";
            //FirstName = identity.FindFirst("givenname")?.Value;
            FirstName = identity.FindFirst("name")?.Value;
            //LastName = identity.FindFirst("surname")?.Value;
            MemberName = identity.FindFirst("preferred_username")?.Value ?? identity.FindFirst("Name")?.Value;
        }
        else
        {
            Type = "msa";
            FirstName = identity.FindFirst("name")?.Value;
            MemberName = identity.FindFirst("preferred_username")?.Value;
            //LastName = identity.FindFirst("surname")?.Value;
            //MemberName = identity.FindFirst("emailaddress")?.Value ?? identity.FindFirst("givenname")?.Value;
        }

        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">Hello @FirstName!</li>
            <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a></li>
        </ul>
    }
}

<script>
    (function () {
        var shellOptions = {
            meControlOptions: {
                containerId: 'meControlHeader',
                rpData:
                {
                    msaInfo: {
                        signOutUrl: "/azuread/account/signout",
                    },
                    aadInfo: {
                        signInUrl: "/azuread/account/signin",
                        signOutUrl: "/azuread/account/signout",
                        appId: '77a4639f-fff0-41e0-a5a5-410c4eedd33f',
                        siteUrl: 'https://cosmos-web-staging.azurewebsites.net/',
                        blockMsaFed: 'false'
                    },
                    preferredIdp: "aad",
                },
                userData: {
                    idp: '@Type',
                    firstName: '@FirstName',
                    lastName: '',
                    memberName: '@MemberName',
                    authenticatedState: '@isAuthenticated'
                }
            }
        };

        function setShellOptions(shellOptions) {
            if (window.msCommonShell) {
                window.msCommonShell.load(shellOptions);
            }
            else {
                window.onShellReadyToLoad = function () {
                    window.onShellReadyToLoad = null;
                    setShellOptions(shellOptions);
                };
            }
        }

        setShellOptions(shellOptions);
    }
    )();
</script>