<div class="container">
    <a href="~/about/customers#coca-cola"><img src="~/images/customers/coca-cola.png" width="100" alt="Coca-Cola" asp-append-version="true" /></a>
    <a href="~/about/customers#citrix"><img src="~/images/customers/citrix.jpg" width="100" alt="Citrix" asp-append-version="true" /></a>
    <a href="~/about/customers#abb"><img src="~/images/customers/abb.png" width="100" alt="ABB" asp-append-version="true" /></a>
    <a href="~/about/customers#quest"><img src="~/images/customers/quest.jpg" width="100" alt="Quest" asp-append-version="true" /></a>
    <a href="~/about/customers#aveva"><img src="~/images/customers/aveva-schneider.jpg" width="100" alt="Aveva-Schneider" asp-append-version="true" /></a>
    <a href="~/about/customers#albertsons-safeway"><img src="~/images/customers/albertsons-safeway.jpg" width="100" alt="Albertsons-Safeway" asp-append-version="true" /></a>
    <a href="~/about/customers#caltex"><img src="~/images/customers/caltex.png" width="100" alt="Caltex" asp-append-version="true" /></a>
    <a href="~/about/customers#sitepro"><img src="~/images/customers/sitepro.jpg" width="100" alt="SitePro" asp-append-version="true" /></a>
    <a href="~/about/customers#newzealand-trade-enterprise"><img src="~/images/customers/nz-trade-enterprise.jpg" width="100" alt="New Zealand Trade & Enterprise" asp-append-version="true" /></a>
    <a href="~/about/customers#swedavia"><img src="~/images/customers/swedavia.jpg" width="100" alt="Swedavia Airports" asp-append-version="true" /></a>
    <a href="~/about/customers#bmi"><img src="~/images/customers/bmi.png" width="100" alt="BMI" asp-append-version="true" /></a>
    <a href="~/about/customers#johnson"><img src="~/images/customers/johnson.png" width="100" alt="Johnson Controls" asp-append-version="true" /></a>
    <a href="~/about/customers#allscripts"><img src="~/images/customers/allscripts.png" width="100" alt="Allscripts" asp-append-version="true" /></a>
    <a href="~/about/customers#asos"><img src="~/images/customers/asos.png" width="100" alt="asos" asp-append-version="true" /></a>
    <a href="~/about/customers#elkjop"><img src="~/images/customers/elkjop.jpg" width="100" alt="Elkjop" asp-append-version="true" /></a>
    <a href="~/about/customers#siemens"><img src="~/images/customers/siemens.png" width="100" alt="Siemens Healthineers" asp-append-version="true" /></a>
    <a href="~/about/customers#jet"><img src="~/images/customers/jet.png" width="100" alt="Jet.com" asp-append-version="true" /></a>
    <a href="~/about/customers#chamberlain"><img src="~/images/customers/chamerberlain.png" width="100" alt="Chamberlain Group" asp-append-version="true" /></a>
    <a href="~/about/customers#bentley"><img src="~/images/customers/bentley.png" width="100" alt="Bentley" asp-append-version="true" /></a>
    <a href="~/about/customers#jato"><img src="~/images/customers/jato.png" width="100" alt="Jato" asp-append-version="true" /></a>
    <a href="~/about/customers#archive360"><img src="~/images/customers/archive360.png" width="100" alt="Archive 360" asp-append-version="true" /></a>
    <a href="~/about/customers#symantec"><img src="~/images/customers/symantec.png" width="100" alt="Symantec" asp-append-version="true" /></a>
    <a href="~/about/customers#crestron"><img src="~/images/customers/crestron.png" width="100" alt="Creston" asp-append-version="true" /></a>
    <a href="~/about/customers#liberty-mutual"><img src="~/images/customers/liberty-mutual.jpg" width="100" alt="Liberty Mutual" asp-append-version="true" /></a>
    <a href="~/about/customers#kognitiv-spark"><img src="~/images/customers/kognitiv-spark.png" width="100" alt="Kognitiv Spark" asp-append-version="true" /></a>
    <a href="~/about/customers#servicelink"><img src="~/images/customers/servicelink.jpg" width="100" alt="ServiceLink" asp-append-version="true" /></a>
    <a href="~/about/customers#zeiss"><img src="~/images/customers/zeiss.png" width="100" alt="Zeiss" asp-append-version="true" /></a>
    <a href="~/about/customers#diply"><img src="~/images/customers/diply.png" width="100" alt="Diply" asp-append-version="true" /></a>
    <a href="~/about/customers#nextens"><img src="~/images/customers/nextens.png" width="100" alt="Nextens" asp-append-version="true" /></a>
    <a href="~/about/customers#skype"><img src="~/images/customers/skype.jpg" width="100" alt="Skype" asp-append-version="true" /></a>
    <a href="~/about/customers#granden"><img src="~/images/customers/granden.png" width="100" alt="Granden" asp-append-version="true" /></a>
    <a href="~/about/customers#cleartrend"><img src="~/images/customers/cleartrend.png" width="100" alt="clearTREND" asp-append-version="true" /></a>
    <a href="~/about/customers#rolls"><img src="~/images/customers/rolls.png" width="100" alt="Rolls-Royce" asp-append-version="true" /></a>
    <a href="~/about/customers#exxon"><img src="~/images/customers/exxon.png" width="100" alt="Exxon-Mobil" asp-append-version="true" /></a>
    <a href="~/about/customers#cincinnati"><img src="~/images/customers/cincinnati.png" width="100" alt="Cincinnati Children's Hospital" asp-append-version="true" /></a>
    <a href="~/about/customers#finastra"><img src="~/images/customers/finastra.png" width="100" alt="Finastra" asp-append-version="true" /></a>
    <a href="~/about/customers#kohler"><img src="~/images/customers/kohler.png" width="100" alt="Kohler" asp-append-version="true" /></a>
</div>

