<div class="media-grid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="media">
                <div class="media-left" aria-hidden="true">
                    <a href="https://www.documentdb.com/sql/demo" target="_blank"><span class="ms-Icon ms-Icon--Website"></span></a>
                    <!--<a href="https://www.documentdb.com/sql/demo" target="_blank"><span class="ms-Icon"><img src="~/images/illustrations/icon-web.svg" alt="" role="presentation" class="img-responsive img-responsive-center" asp-append-version="true" /></span></a>-->
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://www.documentdb.com/sql/demo" target="_blank">Sql Playground</a></h3>
                        <p>Write Azure Cosmos DB SQL API queries in your browser, without installing anything on your computer</p>
                        <p><a class="btn btn-default" href="https://www.documentdb.com/sql/demo" target="_blank" role="button">Start Sql Playground</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-get-started" target="_blank"><span class="ms-Icon ms-Icon--PowerShell"></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-get-started" target="_blank">Console</a></h3>
                        <p>Build a simple To Do application that runs in the console</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/sql-api-get-started" target="_blank" role="button">Start console tutorial</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-dotnet-application" target="_blank"><span class="ms-Icon ms-Icon--Globe"></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-dotnet-application-preview" target="_blank">Web</a></h3>
                        <p>Create a web app that runs on Windows, Mac or Linux using ASP.NET MVC Core and Azure Cosmos DB .NET v3 preview</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/sql-api-dotnet-application-preview" target="_blank" role="button">Start web tutorial</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-xamarin-dotnet" target="_blank"><span class="ms-Icon ms-Icon--CellPhone"></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-xamarin-dotnet" target="_blank">Mobile</a></h3>
                        <p>Create a mobile application using Xamarin with the Azure Cosmos DB .NET SDK for SQL API</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-xamarin-dotnet" target="_blank" role="button">Start mobile tutorial</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/sandbox/gamedev/azure-gaming-samples#scavenger" target="_blank"><span class="ms-Icon ms-Icon--Headset"></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/sandbox/gamedev/azure-gaming-samples#scavenger" target="_blank">Gaming</a></h3>
                        <p>Create a virutal scavenger hunt game in Unity using the Azure Cosmos DB .NET SDK for SQL API.</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/sandbox/gamedev/azure-gaming-samples#scavenger" role="button" target="_blank">Start gaming tutorial</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-java" target="_blank"><span class="ms-Icon"><img class="ms-Icon" src="~/images/learn/Java.png"/></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-java" target="_blank">Java</a></h3>
                        <p>Create an application with the Azure Cosmos DB Java SDK for SQL API</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-java" target="_blank" role="button">Start Java tutorial</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-nodejs" target="_blank"><span class="ms-Icon"><img class="ms-Icon" src="~/images/learn/JavaScript.png"/></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-nodejs" target="_blank">JavaScript</a></h3>
                        <p>Create an application with the Azure Cosmos DB JavaScript SDK for SQL API</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-nodejs" target="_blank" role="button">Start JS tutorial</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left" aria-hidden="true">
                        <a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-python" target="_blank"<span class="ms-Icon"><img class="ms-Icon" src="~/images/learn/Python.png"/></span></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-python" target="_blank">Python</a></h3>
                        <p>Create an application with the Azure Cosmos DB Python SDK for SQL API</p>
                        <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/create-sql-api-python" target="_blank" role="button">Start Python tutorial</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
