@{
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

<div class="swim swim-blue pt-40 pb-40 pt-60-sm pb-60-sm">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-sm-2 col-sm-offset-1">
                <img src="~/images/shared/cosmosdb_darktheme.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="col-sm-3">
                <h2 class="h3">Ready to Get Started?</h2>
                <p>Explore Azure Cosmos DB and see it in action.</p>
            </div>
            <div class="col-sm-3 col-sm-offset-1 mt-40 mt-0-sm text-center">
                <p><a class="btn btn-white btn-lg btn-scale" href="https://azure.microsoft.com/try/cosmosdb/" role="button">Try it for free</a></p>
            </div>
        </div>
    </div>
</div>
