@model cosmosweb.Models.Episode

@{
    ViewData["Title"] = "Create";
}

@section header {
    <h1>Azure Cosmos DB Live TV Episodes</h1>
}

<h2>Create</h2>

<h4>Episode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreamDate" class="control-label"></label>
                <input asp-for="StreamDate" class="form-control" type="datetime-local" value="2021-03-11T13:00" />
                <span asp-validation-for="StreamDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmbedUri" class="control-label"></label>
                <input asp-for="EmbedUri" class="form-control" />
                <span asp-validation-for="EmbedUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WatchUri" class="control-label"></label>
                <input asp-for="WatchUri" class="form-control" />
                <span asp-validation-for="WatchUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
