.agendaMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}

.agendaHeading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.agendaGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.sessionCard {
    width: 350px;
    background: var(--ifm-background-color);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.speakerImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.speakerImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--ifm-link-color);
}

.sessionTitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.sessionType {
    text-align: center;
    font-weight: 500;
}

.sessionDescription {
    font-size: 0.9rem;
}

.speakerLink {
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--ifm-link-color);
}
.comingSoon {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 3rem;
}
