@{
    ViewData["Title"] = "Cosmos DB Architecture Guidance";
    ViewData["Description"] = "Learn how to migrate existing .NET apps to the cloud.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Cosmos DB Architecture Guides</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins: false)">
    <div class="container architecture-guides">
        <div class="media-grid media-grid-bottom-aligned-buttons">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/web"><span class="ms-Icon ms-Icon--Globe"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/web">Web apps</a></h2>
                            <p>Quickly build, test, and deploy data-driven web applications using Cosmos DB.</p>
                            <p><a class="btn btn-default" href="~/architecture/web" role="button">Web app guidance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/iot"><span class="ms-Icon ms-Icon--Robot"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/iot">IoT</a></h2>
                            <p>Build IoT and stream processing workloads without sacrificing ingestion or query performance.</p>
                            <p><a class="btn btn-default" href="~/architecture/iot" role="button">IoT guidance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/serverless"><span class="ms-Icon ms-Icon--Waffle"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/serverless">Serverless</a></h2>
                            <p>Build resilient, scalable, and event-driven, serverless apps and microservices.</p>
                            <p><a class="btn btn-default" href="~/architecture/serverless" role="button">Serverless guidance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/gaming"><span class="ms-Icon ms-Icon--Headset"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/gaming">Gaming apps</a></h2>
                            <p>Deliver low-latency multi-player experiences on a global scale.</p>
                            <p><a class="btn btn-default" href="~/architecture/gaming" role="button">Gaming guidance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/personalization"><span class="ms-Icon ms-Icon--People"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/personalization">Recommendation Engines</a></h2>
                            <p>Generate personalized recommendations for customers in real time.</p>
                            <p><a class="btn btn-default" href="~/architecture/personalization" role="button">Personalization guidance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/retail"><span class="ms-Icon ms-Icon--Blocks"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/retail">Retail and E-commerce</a></h2>
                            <p>Design for diverse product catalogs, traffic spikes, and rapidly changing inventory.</p>
                            <p><a class="btn btn-default" href="~/architecture/retail" role="button">Retail guidance</a></p>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/spatial"><span class="ms-Icon ms-Icon--CompassNW"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/transportation">Transportation apps</a></h2>
                            <p>Build apps using graph with spatial data that can be used to build travel or transportation solutions.</p>
                            <p><a class="btn btn-default" href="~/architecture/transportation" role="button">Transportation guidance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/architecture/financial"><span class="ms-Icon ms-Icon--AnalyticsQuery"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/architecture/financial">Financial apps</a></h2>
                            <p>Build financial apps.</p>
                            <p><a class="btn btn-default" href="~/architecture/financial" role="button">Financial guidance</a></p>
                        </div>
                    </div>
                </div>
                 -->
            </div>
        </div>
    </div>
</div>


    @{ await Html.RenderPartialAsync("_TryCosmos"); }
