@model cosmosweb.Models.Tv
@{ ViewData["Title"] = "Azure Cosmos DB Live TV";
    ViewData["Description"] = "Azure Cosmos DB Live TV weekly podcast";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Live TV</h1>
}

@{
    Episode nextEpisode = new Episode();
    IEnumerable<Episode> upcomingEpisodes = new List<Episode>();
    IEnumerable<Episode> pastEpisodes = new List<Episode>();

    nextEpisode = Model.NextEpisode;
    upcomingEpisodes = Model.UpcomingEpisodes;
    pastEpisodes = Model.PastEpisodes;

}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        
        @{
            if(nextEpisode != null)
            {
                await Html.RenderPartialAsync("Featured", nextEpisode);
                await Html.RenderPartialAsync("UpcomingEpisodes", upcomingEpisodes);
            }

         }
        @{ await Html.RenderPartialAsync("PastEpisodes", pastEpisodes); }
    </div>
</div>


@section scripts{
    <script>
        $("time").each(function (elem) {
            var utctimeval = $(this).html();
            var date = new Date(utctimeval);
            $(this).html(date.toLocaleString());
        })
    </script>

}
