@{
    ViewData["Title"] = "Azure Cosmos DB Developer Community";
    ViewData["Description"] = "Get involved in the Azure Cosmos DB community. Attent a meetup in your local area, join us on GitHub, ask a question on StackOverflow, or follow us on Twitter.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Developer Community</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/stackoverflow.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Stack Overflow</h2>
                <p><a href="https://stackoverflow.com/questions/tagged/azure-cosmosdb" target="_blank">StackOverflow</a> is one of the most used sites for asking general purpose programming questions, and there are a lot of great answers to .NET questions already.</p>
                <p>To make the most of StackOverflow, we recommend reading their <a href="https://stackoverflow.com/help/how-to-ask" target="_blank">How do I ask a good question?</a> guide.</p>
                <p><a href="https://stackoverflow.com/questions/tagged/azure-cosmosdb" target="_blank" class="btn btn-default">Ask a question</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="media-grid">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="~/about/github"><span class="ms-Image"><img src="~/images/about/github.svg" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="~/about/github">Github</a></h2>
                            <p>Azure Cosmos DB has multiple repositories with our <a href="~/about/github">SDKs, tools and OSS projects</a> and samples from Microsoft and the community.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://twitter.com/AzureCosmosDB" target="_blank"><span class="ms-Image"><img src="~/images/about/twitter.svg" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://twitter.com/AzureCosmosDB" target="_blank">Twitter</a></h2>
                            <p><a href="https://twitter.com/AzureCosmosDB" target="_blank">@@AzureCosmosDB</a> is the main Twitter account you can follow to keep in touch with us and get updates. You can also keep a search of <a href="https://twitter.com/search?q=%23CosmosDB" target="_blank">#cosmosdb</a> for updates on Azure Cosmos DB from the community.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://azure.microsoft.com/en-us/blog/tag/cosmos-db/" target="_blank"><span class="ms-Icon ms-Icon--DietPlanNotebook"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://azure.microsoft.com/en-us/blog/tag/cosmos-db/" target="_blank">Blog</a></h2>
                            <p>Make sure you are always getting the latest information and updates on Azure Cosmos DB. Visit and favorite the <a href="https://azure.microsoft.com/en-us/blog/tag/cosmos-db/" target="_blank">Azure Cosmos DB Blog</a>.</p>
                            <p>Also, check out these other community bloggers</p>
                            <ul>
                                <li><a href="https://medium.com/@@jayanta.mondal" target="_blank">Jayanta Mondal</a></li>
                                <li><a href="https://medium.com/@@Ealsur" target="_blank">Matías Quaranta</a></li>
                                <li><a href="https://chapsas.com/tag/cosmosdb/" target="_blank">Nick Chapsas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://www.youtube.com/channel/UC9OJ32CzooNJNoP6_iIfxRw/videos?view=0&sort=dd&flow=grid" target="_blank"><span class="ms-Image"><img src="~/images/about/youtube.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://www.youtube.com/channel/UC9OJ32CzooNJNoP6_iIfxRw/videos?view=0&sort=dd&flow=grid" target="_blank">YouTube</a></h2>
                            <p>We publish lots of <a href="https://www.youtube.com/channel/UC9OJ32CzooNJNoP6_iIfxRw/videos?view=0&sort=dd&flow=grid" target="_blank">videos about Azure Cosmos DB</a> on YouTube including short how-to videos, interviews, and full-length technical sessions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://channel9.msdn.com/Search?term=cosmosdb&pubDate=year" target="_blank"><span class="ms-Image"><img src="~/images/about/ch9.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://channel9.msdn.com/Search?term=cosmosdb&pubDate=year" target="_blank">Channel 9</a></h2>
                            <p><a href="https://channel9.msdn.com/Search?term=cosmosdb&pubDate=year" target="_blank">Watch Azure Cosmos DB videos</a> on Channel 9 to stay up to date on our latest announcements.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://feedback.azure.com/forums/263030-azure-cosmos-db" target="_blank"><span class="ms-Image"><img src="~/images/about/uservoice.png" role="presentation" alt="" asp-append-version="true" /></span></a></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://feedback.azure.com/forums/263030-azure-cosmos-db" target="_blank">User Voice</a></h2>
                            <p>Visit our <a href="https://feedback.azure.com/forums/263030-azure-cosmos-db" target="_blank">User Voice</a> to see what features customers are asking for and request features yourself. We update our User Voice bi-mothly.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://azure.com" target="_blank"><span class="ms-Icon ms-Icon--Education"></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://azure.com" target="_blank">Newsletters</a></h2>
                            <p>Read our latest <a href="https://azure.com" target="_blank">Newsletters</a> to catchup on past announcements or stay current on recent releases and information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
