<div class="row row-flex text-center">
    <div class="col-md-2 col-md-offset-1">
        <a href="#sql" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/cosmosdb.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Core (SQL)</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://docs.microsoft.com/azure/cosmos-db/mongodb-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/mongodb.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Azure Cosmos DB's API for Mongo DB</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://docs.microsoft.com/en-us/azure/cosmos-db/graph-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/gremlin.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Gremlin</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://docs.microsoft.com/azure/cosmos-db/cassandra-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/cassandra.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Cassandra</div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://docs.microsoft.com/azure/cosmos-db/table-introduction" target="_blank" class="api-tile">
            <span class="pb-0-sm"><img src="~/images/learn/tablestorage2.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane img-responsive-mm" asp-append-version="true" /></span>
            <div>Table</div>
        </a>
    </div>
</div>