@{
    ViewData["Title"] = "Azure Cosmos DB Compare";
    ViewData["Description"] = "Learn more about Azure Cosmos DB total cost of ownership.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB TCO</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/data-to-insights.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB TCO comparison</h2>
                <p>
                    Customers running Cassandra or MongoDB on IaaS or on-premises can achive significant savings by migrating to Azure Cosmos DB
                </p>
                <ul>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/compare/Cassandra_IaaS.pdf" target="_blank">Save vs Cassandra on IaaS</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/compare/Cassandra_on-prem.pdf" target="_blank">Save vs Cassandra on-premises</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/compare/MongoDB_IaaS.pdf" target="_blank">Save vs MongoDB on IaaS</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/compare/CosmosDB_vs_on-prem.pdf" target="_blank">Azure Cosmos DB vs on-premises noSQL</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
