@{
    ViewData["Title"] = "Learn Azure Cosmos DB";
    ViewData["Description"] = "Build your first app, or dig into advanced resources for building for retail, mobile, desktop, gaming, and IoT apps with Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1 class="text-center">Learn Azure Cosmos DB</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins: false) learn" id="sql">
    <div class="container">
        <div class="text-center">
            <h2>Get Started</h2>
            <p class="mb-40">
                New to Azure Cosmos DB and don't know where to start? Start with the Azure Cosmos DB SQL API and build the app of your choice in .NET or your langugage of choice.
            </p>
        </div>
        @{ await Html.RenderPartialAsync("_SqlApiGetStarted"); }
    </div>
</div>


<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="text-center">
            <h2>Multi-model + Multi-API</h2>
            <p class="mb-40">
                Explore the Azure Cosmos DB multi-model and multi-API support.
            </p>
        </div>
        @{ await Html.RenderPartialAsync("_MultiModel"); }
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
